/* AdoptionForm.css */

.adoption-form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #854624;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #854624;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #632f10; /* Darken the color on hover */
  }
  